body {
    margin: 0px;
    padding: 0px;
}

:root {
    --principal-color: #223F99;
}

/*** INÍCIO - borda superior ***/
#area-principal {
    border: 2px solid red;
    display: flex;
    justify-content: space-around;

    background-color: var(--principal-color);
    height: 90px; 
    width: 100%;   
}

/*** FIM - borda superior ***/

/*** INÍCIO - imagem UPE ***/
#imagem {
    border: 2px solid red;
    margin: 14px 50px;
    height: 60px;
    width: 100px;
}
/*** FIM - imagem UPE ***/

/*** INÍCIO - sig logo ***/
#logo {
    border: 2px solid red;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin: 24px 40px;
}
/*** FIM - sig logo ***/

/*** INÍCIO - barra de pesquisa ***/
#area-pesquisa {
    border: 2px solid red;
    display: flex;
    border-radius: 30px;
    margin: 25px 150px;
    width: 600px;
}

.barra-pesquisa {
    display: flex;
    background-color: var(--principal-color);
    border-radius: 30px;
    color: #fff;
    text-indent: 5px;
    height: 40px;
    width: 600px;
}

.botao-pesquisar {
    border: 2px solid red;
    display: flex;
    align-items: flex-start;

    background: var(--principal-color);
    border-radius: 30px;
    cursor: pointer;
    height: 40px;  
}

.lupa {
    height: 30px;
}

::placeholder {
    color: #fff;
}
/*** FIM - barra de pesquisa ***/

/*** INÍCIO - botão de cadastro ***/
#area-cadastro {
    margin: 35px 10px;
}

#cadastrar {
    border: 2px solid red;
    background-color: var(--principal-color);
    border-radius: 30px;
    cursor: pointer;
    width: 70px;
}

.entrar {
    background-color: rgb(0, 0, 0, 0);
    border-radius: 30px;
    color: #fff;
    width: 70px;
}
/*** FIM - botão de cadastro ***/

/*** INÍCIO - navegação lateral (três barras) ***/
.nav div {
    background-color: #fff;
    border-radius: 25px;
    height: 4px;
    margin: 9px 0;
    transition: 0.3s;
}

.nav {
    display: block;
    width: 30px;
    margin: 1.4em 0 0 1em;
}

.um {
    width: 40px;
    margin: 3px;
}

.dois {
    width: 30px;
    margin: 3px;
}

.tres {
    width: 35px;
    margin: 3px;
}

.nav:hover div {
    width: 40px;
}
/*** FIM - navegação lateral (três barras) ***/    

#area-imagem-mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    
    background-color: var(--principal-color);
    border: 2px solid red;
    border-radius: 40px;
    height: 600px;
    width: 1100px;
}

.mapa-principal {
    width: 1000px;
    border: 2px solid red;
    border-radius: 20px;
}