* {
    margin: 0;
}
:root {
    --principal-color: #00235B;
    --transparente: rgb(0, 0, 0, 0);
}

span > h2 {
    font-weight: 400;
    color: var(--principal-color);
    text-align: right;
    font-size: 25px;
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span  p {
    font-weight: 400;
    font-size: 16px;
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;

}

span hr {
    width: 170px;
    border: 2px solid #00235B;
    margin-left: 91px;
    margin-right: 0px;
}

div > h2 {
    text-align: center;
    margin: 10px 0;
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--principal-color);
    font-weight: 400;
    font-size: 20px;
}

div p {
    text-align: justify;
    margin: 27px 10px;
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

div hr {
    width: 190px;
    height: 0px;

    /* azul escuro */

    border: 3px solid var(--principal-color);

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0
}

.area-barra {
    border: red 2px solid;
    background-color: var(--principal-color);
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*** INÍCIO - navegação lateral (três barras) ***/
.area-barra__nav div {
    background-color: #fff;
    border-radius: 25px;
    height: 4px;
    margin: 9px 0;
    transition: 0.3s;
}

.area-barra__nav {
    display: block;
    width: 30px;
    margin: 1.4em 0 0 1em;
}

.area-barra__nav--um {
    width: 40px;
    margin: 3px;
}

.area-barra__nav--dois {
    width: 30px;
    margin: 3px;
}

.area-barra__nav--tres {
    width: 35px;
    margin: 3px;
}

.area-barra__nav:hover div {
    width: 40px;
}
/*** FIM - navegação lateral (três barras) ***/

.area-barra__nav--logo {
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.area-barra__botao {
    background-color: var(--transparente);
    border-color: #fff;
    height: 45px;
    width: 127px;
    left: 1315.5px;
    top: 32.5px;
    border-radius: 31px;
    color: #fff;
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.area-barra__icone {
    background-color: #fff;
}

.area-mapa-principal {
    border: red 2px solid;
    display: flex;
    align-items: center;
    margin: 20px 300px;
}

.area-mapas {
    border: red 2px solid;
    height: 696px;
}

.area-mapas__conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: red 2px solid;
    margin: 8px 0;
    height: 680px;
}

.area-mapas__conteudo--texto {
    text-align: justify;
    border: 2px solid red;
    width: 285px;
    height: 474px;

}

.area-mapas__conteudo--botao {
    width: 133px;
    height: 45px;
    border-radius: 31px;
    background-color: var(--transparente);
}

.area-mapas__conteudo--icone {
    font-size: 17px;
    margin-left: 10px;
}

.area-mapas__imagem {
    border: 2px solid red;
    width: 340px;
    height: 474px;
}

.area-mapas__conteudo--imagem {
    width: 340px;
    height: 218px;
    border: 2px solid red;
}

.area-mapas__imagem--botao {
    width: 50px;
    height: 50px;
    border-radius: 31px;
    background-color: var(--transparente);
}

.area-mapas__imagem--icone {
    font-size: 23px;
}

.quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    margin: 200px 0px;
    background-color: #F5F5F5;
    height: 522px;
    width: 1512px;
    left: 0px;
    top: 1680px;
    border-radius: [object Object]px;
    padding: 106px 240px 106px 240px;

}

.quem-somos__titulo {
    height: 24px;
    width: 124px;
    border-radius: nullpx;
    
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.quem-somos__texto {
    width: 923px;
    height: 144px;

    /* Generic */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    /* azul escuro */

    color: var(--principal-color);


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
